@import "https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;600;700;800;900&display=fallback";

/* src/app.scss */
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #D9E3EA;
}
::before,
::after {
  --tw-content: "";
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9BA9B4;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9BA9B4;
}
button,
[role=button] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.pointer-events-none {
  pointer-events: none;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.right-0 {
  right: 0px;
}
.top-10 {
  top: 2.5rem;
}
.top-full {
  top: 100%;
}
.left-0 {
  left: 0px;
}
.bottom-0 {
  bottom: 0px;
}
.z-30 {
  z-index: 30;
}
.z-20 {
  z-index: 20;
}
.-m-1 {
  margin: -0.25rem;
}
.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}
.-m-2 {
  margin: -0.5rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mr-4 {
  margin-right: 1rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.ml-4 {
  margin-left: 1rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mt-12 {
  margin-top: 3rem;
}
.mt-8 {
  margin-top: 2rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-0 {
  margin-top: 0px;
}
.-ml-20 {
  margin-left: -5rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mb-20 {
  margin-bottom: 5rem;
}
.mt-10 {
  margin-top: 2.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mt-16 {
  margin-top: 4rem;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.grid {
  display: grid;
}
.contents {
  display: contents;
}
.hidden {
  display: none;
}
.h-full {
  height: 100%;
}
.h-0 {
  height: 0px;
}
.h-8 {
  height: 2rem;
}
.h-20 {
  height: 5rem;
}
.h-6 {
  height: 1.5rem;
}
.h-16 {
  height: 4rem;
}
.h-1 {
  height: 0.25rem;
}
.h-3 {
  height: 0.75rem;
}
.h-4 {
  height: 1rem;
}
.w-full {
  width: 100%;
}
.w-8 {
  width: 2rem;
}
.w-6 {
  width: 1.5rem;
}
.w-32 {
  width: 8rem;
}
.w-16 {
  width: 4rem;
}
.w-3 {
  width: 0.75rem;
}
.w-4 {
  width: 1rem;
}
.max-w-6xl {
  max-width: 72rem;
}
.max-w-xs {
  max-width: 20rem;
}
.max-w-xl {
  max-width: 36rem;
}
.max-w-3xl {
  max-width: 48rem;
}
.max-w-full {
  max-width: 100%;
}
.max-w-sm {
  max-width: 24rem;
}
.max-w-md {
  max-width: 28rem;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-grow {
  flex-grow: 1;
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-8 {
  gap: 2rem;
}
.overflow-hidden {
  overflow: hidden;
}
.rounded-sm {
  border-radius: 0.125rem;
}
.rounded-full {
  border-radius: 9999px;
}
.border-t {
  border-top-width: 1px;
}
.border-dashed {
  border-style: dashed;
}
.border-gray-700 {
  --tw-border-opacity: 1;
  border-color: rgb(51 54 58 / var(--tw-border-opacity));
}
.border-gray-800 {
  --tw-border-opacity: 1;
  border-color: rgb(37 40 44 / var(--tw-border-opacity));
}
.bg-purple-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(93 93 255 / var(--tw-bg-opacity));
}
.bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 40 44 / var(--tw-bg-opacity));
}
.bg-purple-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(244 244 255 / var(--tw-bg-opacity));
}
.bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(21 23 25 / var(--tw-bg-opacity));
}
.fill-current {
  fill: currentColor;
}
.stroke-current {
  stroke: currentColor;
}
.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.pt-10 {
  padding-top: 2.5rem;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pb-9\/16 {
  padding-bottom: 56.25%;
}
.pb-12 {
  padding-bottom: 3rem;
}
.pt-32 {
  padding-top: 8rem;
}
.pb-10 {
  padding-bottom: 2.5rem;
}
.text-center {
  text-align: center;
}
.font-architects-daughter {
  font-family: "Architects Daughter", sans-serif;
}
.font-inter {
  font-family: Inter, sans-serif;
}
.text-xs {
  font-size: 0.75rem;
}
.text-lg {
  font-size: 1.125rem;
}
.text-sm {
  font-size: 0.875rem;
}
.text-4xl {
  font-size: 2.5rem;
}
.text-xl {
  font-size: 1.25rem;
}
.text-5xl {
  font-size: 3.25rem;
}
.text-2xl {
  font-size: 1.5rem;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
.leading-10 {
  line-height: 2.5rem;
}
.tracking-tight {
  letter-spacing: -0.01em;
}
.text-gray-100 {
  --tw-text-opacity: 1;
  color: rgb(235 241 245 / var(--tw-text-opacity));
}
.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(155 169 180 / var(--tw-text-opacity));
}
.text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(217 227 234 / var(--tw-text-opacity));
}
.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(51 54 58 / var(--tw-text-opacity));
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(112 125 134 / var(--tw-text-opacity));
}
.text-purple-600 {
  --tw-text-opacity: 1;
  color: rgb(93 93 255 / var(--tw-text-opacity));
}
.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(85 89 95 / var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-purple-200 {
  --tw-text-opacity: 1;
  color: rgb(226 225 255 / var(--tw-text-opacity));
}
.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(197 210 220 / var(--tw-text-opacity));
}
.text-purple-300 {
  --tw-text-opacity: 1;
  color: rgb(203 204 255 / var(--tw-text-opacity));
}
.text-purple-100 {
  --tw-text-opacity: 1;
  color: rgb(244 244 255 / var(--tw-text-opacity));
}
.text-purple-400 {
  --tw-text-opacity: 1;
  color: rgb(171 171 255 / var(--tw-text-opacity));
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.opacity-50 {
  opacity: 0.5;
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}
.transition {
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    -webkit-backdrop-filter;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    backdrop-filter;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-colors {
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-700 {
  transition-duration: 700ms;
}
.duration-150 {
  transition-duration: 150ms;
}
.duration-300 {
  transition-duration: 300ms;
}
.duration-500 {
  transition-duration: 500ms;
}
.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.h1 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: -0.02em;
}
.h2 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: -0.02em;
}
.h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
}
.h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.375;
  letter-spacing: -0.01em;
}
@media (min-width: 768px) {
  .h1 {
    font-size: 3.25rem;
  }
  .h2 {
    font-size: 2.5rem;
  }
}
.btn,
.btn-sm {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.125rem;
  border-width: 1px;
  border-color: transparent;
  font-weight: 500;
  line-height: 1.375;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    -webkit-backdrop-filter;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    backdrop-filter;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    backdrop-filter,
    -webkit-backdrop-filter;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.btn-sm {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(51 54 58 / var(--tw-border-opacity));
  background-color: transparent;
}
.form-input:focus,
.form-textarea:focus,
.form-multiselect:focus,
.form-select:focus,
.form-checkbox:focus,
.form-radio:focus {
  --tw-border-opacity: 1;
  border-color: rgb(112 125 134 / var(--tw-border-opacity));
}
.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
  border-radius: 0.125rem;
}
.form-input,
.form-textarea,
.form-multiselect,
.form-select {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.form-input::-moz-placeholder,
.form-textarea::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(112 125 134 / var(--tw-placeholder-opacity));
}
.form-input::placeholder,
.form-textarea::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(112 125 134 / var(--tw-placeholder-opacity));
}
.form-select {
  padding-right: 2.5rem;
}
.form-checkbox,
.form-radio {
  --tw-text-opacity: 1;
  color: rgb(93 93 255 / var(--tw-text-opacity));
}
input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ccc;
  border-radius: 3px;
  height: 6px;
  margin-top: 15px;
  margin-bottom: 15px;
  --thumb-size: 36px;
}
input[type=range]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background-color: #000;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 .5v7L12 4zM0 4l4 3.5v-7z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 36px;
  width: 36px;
}
input[type=range]::-moz-range-thumb {
  background-color: #000;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 .5v7L12 4zM0 4l4 3.5v-7z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 36px;
  width: 36px;
}
input[type=range]::-ms-thumb {
  background-color: #000;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 .5v7L12 4zM0 4l4 3.5v-7z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 36px;
  width: 36px;
}
input[type=range]::-moz-focus-outer {
  border: 0;
}
.form-switch {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 60px;
}
.form-switch label {
  display: block;
  height: 2rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: 9999px;
}
.form-switch label > span:first-child {
  position: absolute;
  display: block;
  border-radius: 9999px;
  width: 28px;
  height: 28px;
  top: 2px;
  left: 2px;
  right: 50%;
  transition: all 0.15s ease-out;
}
.form-switch input[type=checkbox]:checked + label {
  --tw-bg-opacity: 1;
  background-color: rgb(93 93 255 / var(--tw-bg-opacity));
}
.form-switch input[type=checkbox]:checked + label > span:first-child {
  left: 30px;
}
:focus,
button:focus,
.btn:focus,
.btn-sm:focus,
.form-input:focus,
.form-textarea:focus,
.form-multiselect:focus,
.form-select:focus,
.form-checkbox:focus,
.form-radio:focus {
  outline: 2px solid rgba(0, 112, 244, 0.5);
}
.form-input:focus,
.form-textarea:focus,
.form-multiselect:focus,
.form-select:focus,
.form-checkbox:focus,
.form-radio:focus {
  box-shadow: none !important;
}
.hamburger svg > *:nth-child(1),
.hamburger svg > *:nth-child(2),
.hamburger svg > *:nth-child(3) {
  transform-origin: center;
  transform: rotate(0deg);
}
.hamburger svg > *:nth-child(1) {
  transition:
    y 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    opacity 0.1s ease-in;
}
.hamburger svg > *:nth-child(2) {
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger svg > *:nth-child(3) {
  transition:
    y 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    width 0.1s 0.25s ease-in;
}
.hamburger.active svg > *:nth-child(1) {
  opacity: 0;
  y: 11;
  transform: rotate(225deg);
  transition:
    y 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.1s 0.12s ease-out;
}
.hamburger.active svg > *:nth-child(2) {
  transform: rotate(225deg);
  transition: transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger.active svg > *:nth-child(3) {
  y: 11;
  transform: rotate(135deg);
  transition:
    y 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1),
    width 0.1s ease-out;
}
@keyframes pulseLoop {
  0% {
    opacity: 0;
    transform: scale(0.1) translateZ(0);
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(2) translateZ(0);
  }
}
.pulse {
  transform: scale(0.1);
  opacity: 0;
  transform-origin: center;
  animation: pulseLoop 8000ms linear infinite;
}
.pulse-1 {
  animation-delay: -2000ms;
}
.pulse-2 {
  animation-delay: -4000ms;
}
.pulse-3 {
  animation-delay: -6000ms;
}
button,
a.btn {
  cursor: pointer;
}
:root {
  --irc-main-background: white;
  --irc-main-color: black;
  --irc-sidebar-background: #e3e3e3;
  --irc-expander-background: #b5b5b5;
  --irc-expander-background-hover: #a6a6a6;
  --irc-expander-border: #6c6c6c;
  --irc-button-color: #eff7ef;
  --irc-button-background: #545499;
  --irc-button-background-hover: #1d1d95;
  --irc-button-border: #e3e3e3;
  --irc-danger-button-color: #eff7ef;
  --irc-danger-button-background: #db2626;
  --irc-danger-button-background-hover: #B20000;
  --irc-danger-button-border: #e3e3e3;
  --irc-green: #13a213;
  --irc-gray: #4a4a4a;
  --irc-orange: #b37400;
}
#irc-chat {
  min-height: 380px;
  position: fixed;
  right: 2rem;
  bottom: 7rem;
  width: 400px;
  background: #FFF;
  color: #000;
  padding: 1rem;
  z-index: 19;
  max-height: 50vh;
  overflow-y: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 20px;
  max-width: calc(100% - 4rem);
}
#irc-chat button {
  background: var(--irc-button-background);
  transition: background 0.25s linear;
  color: var(--irc-button-color);
  padding: 0.25rem 0.5rem;
  border-style: solid;
  border-color: var(--irc-button-border);
  border-width: 1px;
  font-size: 0.8rem;
  cursor: pointer;
}
#irc-chat button:hover {
  background: var(--irc-button-background-hover);
}
#irc-chat button.danger {
  background: var(--irc-danger-button-background);
  color: var(--irc-danger-button-color);
  border-color: var(--irc-danger-button-border);
}
#irc-chat button.danger:hover {
  background: var(--irc-danger-button-background-hover);
}
#irc-chat #buffer,
#irc-chat #connect {
  color: var(--irc-main-color);
  background: var(--irc-main-background);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
#irc-chat #buffer-list,
#irc-chat #member-list {
  color: var(--irc-main-color);
  background: var(--irc-main-background);
  width: 100%;
  height: 100%;
  background-color: var(--irc-sidebar-background);
  grid-column: 1;
  grid-row: 1/4;
  display: flex;
  flex-direction: row;
}
#irc-chat .expander {
  display: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: var(--irc-expander-background);
  transition: background 0.2s linear;
  border: none;
  width: 10px;
}
#irc-chat .expander:hover {
  background: var(--irc-expander-background-hover);
}
#irc-chat .expander span {
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 2px;
  border-style: solid;
  border-width: 1px 0;
  border-color: var(--irc-expander-border);
}
#irc-chat #buffer-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 1 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
}
#irc-chat #buffer-list li a {
  display: inline-block;
  width: 100%;
  padding: 2px 10px;
  box-sizing: border-box;
}
#irc-chat #buffer-list li.active a {
  color: white;
  background-color: var(--irc-gray);
}
#irc-chat #buffer-list li.unread-message a {
  color: var(--irc-orange);
}
#irc-chat #buffer-list li.unread-highlight a {
  color: #22009b;
}
#irc-chat #buffer-list li:not(.type-server) a {
  padding-left: 20px;
}
#irc-chat #member-list-header {
  color: var(--irc-main-color);
  background-color: var(--irc-main-background);
  box-sizing: border-box;
  padding: 5px 10px;
  border-bottom: 1px solid var(--irc-sidebar-background);
}
#irc-chat #buffer-header {
  color: var(--irc-main-color);
  background-color: var(--irc-main-background);
  box-sizing: border-box;
  border-bottom: 1px solid var(--irc-sidebar-background);
  grid-row: 1;
  grid-column: 2;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
}
#irc-chat #buffer-header .title {
  padding: 5px 10px;
  font-weight: bold;
  grid-row: 1;
  grid-column: 1;
}
#irc-chat #buffer-header .description {
  padding: 5px 10px;
  grid-row: 2;
  grid-column: 1;
  max-height: 20vh;
  overflow-y: auto;
  word-break: break-word;
}
#irc-chat #buffer-header .actions {
  grid-row: 1/3;
  grid-column: 2;
}
#irc-chat #buffer-header .status-here {
  color: var(--irc-green);
}
#irc-chat #buffer-header .status-gone {
  color: orange;
}
#irc-chat #buffer-header .status-offline {
  color: red;
}
#irc-chat .actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#irc-chat .actions button {
  border-width: 0 0 0px 1px;
}
#irc-chat #buffer {
  grid-row: 2;
  grid-column: 2;
}
#irc-chat #buffer:focus {
  outline: none;
}
#irc-chat #member-list {
  grid-row: 1/4;
  grid-column: 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
#irc-chat #member-list > section {
  display: flex;
  flex-direction: column;
}
#irc-chat #member-list-header {
  border-left: 1px solid var(--irc-sidebar-background);
}
@media (max-width: 640px) {
  #irc-chat #buffer-list ul {
    width: 0px;
  }
  #irc-chat #buffer-list.expand {
    z-index: 999;
    grid-column: 1/4;
  }
  #irc-chat #buffer-list.expand ul {
    width: auto;
  }
}
#irc-chat #member-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
}
#irc-chat #member-list li a {
  display: inline-block;
  padding: 2px 10px;
  box-sizing: border-box;
}
#irc-chat #member-list li a.away {
  color: var(--irc-gray);
}
#irc-chat .membership.owner {
  color: red;
}
#irc-chat .membership.admin {
  color: blue;
}
#irc-chat .membership.op {
  color: var(--irc-green);
}
#irc-chat .membership.halfop {
  color: orange;
}
#irc-chat .membership.voice {
  color: yellow;
}
#irc-chat #composer {
  color: var(--irc-main-color);
  background: var(--irc-main-background);
  grid-row: 3;
  grid-column: 2/3;
  border-top: 1px solid var(--irc-sidebar-background);
}
#irc-chat #composer input {
  display: block;
  height: 35px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}
#irc-chat #composer input,
#irc-chat #composer input:focus {
  border: none;
  background: none;
  outline: none;
}
#irc-chat #composer.read-only {
  display: none;
}
#irc-chat #connect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
#irc-chat #connect form {
  margin: 0 auto;
  max-width: 350px;
  padding: 10px;
  box-sizing: border-box;
}
#irc-chat form input[type=text],
#irc-chat form input[type=username],
#irc-chat form input[type=password],
#irc-chat form input[type=url],
#irc-chat form input[type=email] {
  box-sizing: border-box;
  width: 100%;
}
#irc-chat a {
  color: var(--irc-green);
}
#irc-chat #buffer-list li a,
#irc-chat a.timestamp,
#irc-chat a.nick {
  color: var(--irc-gray);
  text-decoration: none;
}
#irc-chat #buffer-list li a:hover,
#irc-chat #buffer-list li a:active,
#irc-chat a.timestamp:hover,
#irc-chat a.timestamp:active,
#irc-chat a.nick:hover,
#irc-chat a.nick:active {
  text-decoration: underline;
}
#irc-chat details summary[role=button] {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}
#irc-chat #buffer {
  box-sizing: border-box;
  color: var(--irc-gray);
  word-wrap: break-word;
}
#irc-chat #buffer .logline-list {
  padding: 10px;
}
#irc-chat #buffer .logline {
  white-space: pre-wrap;
}
#irc-chat #buffer .talk,
#irc-chat #buffer .motd {
  color: var(--irc-main-color);
}
#irc-chat #buffer .error {
  color: red;
}
#irc-chat #buffer .me-tell {
  color: var(--irc-orange);
}
#irc-chat #buffer .highlight .nick {
  color: yellow;
  background-color: #c700ff;
}
#irc-chat #buffer .nick-1 {
  color: #f25e0d;
}
#irc-chat #buffer .nick-2 {
  color: #e43611;
}
#irc-chat #buffer .nick-3 {
  color: #f98a11;
}
#irc-chat #buffer .nick-4 {
  color: #b4a700;
}
#irc-chat #buffer .nick-5 {
  color: #89bd3b;
}
#irc-chat #buffer .nick-6 {
  color: #4ea847;
}
#irc-chat #buffer .nick-7 {
  color: #287e52;
}
#irc-chat #buffer .nick-8 {
  color: #117873;
}
#irc-chat #buffer .nick-9 {
  color: #0083a7;
}
#irc-chat #buffer .nick-10 {
  color: #2a6596;
}
#irc-chat #buffer .nick-11 {
  color: #385189;
}
#irc-chat #buffer .nick-12 {
  color: #434078;
}
#irc-chat #buffer .nick-13 {
  color: #5e4279;
}
#irc-chat #buffer .nick-14 {
  color: #7a447a;
}
#irc-chat #buffer .nick-15 {
  color: #e92980;
}
#irc-chat #buffer .nick-16 {
  color: #ec273e;
}
#irc-chat #buffer .separator {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: lowercase;
  font-variant: small-caps;
}
#irc-chat #buffer .separator::before,
#irc-chat #buffer .separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid transparent;
}
#irc-chat #buffer .date-separator {
  color: #757575;
}
#irc-chat #buffer .date-separator::before,
#irc-chat #buffer .date-separator::after {
  border-color: #ddd;
}
#irc-chat #buffer .unread-separator {
  color: #ff3535;
}
#irc-chat #buffer .unread-separator::before,
#irc-chat #buffer .unread-separator::after {
  border-color: #ff3535;
}
#irc-chat #error-msg {
  color: white;
  background-color: red;
  position: fixed;
  bottom: 2rem;
  right: 0;
  padding: 0.5rem;
  margin: 0.5rem;
}
#irc-chat #error-msg button,
#irc-chat .dialog button.dialog-close {
  border: none;
  background: transparent;
  color: inherit;
  font-size: inherit;
  padding: 0;
}
#irc-chat .error-text {
  color: red;
}
#irc-chat .dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}
#irc-chat .dialog .dialog-body {
  background-color: var(--irc-main-background);
  color: var(--irc-main-color);
  margin: 20px auto;
  max-width: 500px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
#irc-chat .dialog .dialog-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
}
#irc-chat .dialog .dialog-header h2 {
  flex-grow: 1;
  margin: 0;
}
#irc-chat .dialog .dialog-header button.dialog-close {
  font-size: 1.5em;
  padding: 0 5px;
}
#irc-chat .dialog h2 {
  margin-top: 0;
}
#irc-chat .dialog form button:not([type=button]) {
  float: right;
}
#irc-chat .dialog form {
  overflow: auto;
}
#irc-chat kbd {
  background-color: #f0f0f0;
  border: 1px solid #bfbfbf;
  box-shadow: inset 0 1px 0 0 #fff, inset 0 -2px 0 0 #d9d9d9;
  display: inline-block;
  font-size: 80%;
  margin: 3px;
  min-width: 1em;
  text-align: center;
  white-space: nowrap;
  padding: 2px 4px;
  font-family: monospace;
  border-radius: 3px;
}
@media (prefers-color-scheme: dark) {
  #irc-chat html {
    scrollbar-color: var(--irc-gray) transparent;
  }
  #irc-chat #buffer-list li.active a {
    color: var(--irc-sidebar-background);
    background-color: white;
  }
  #irc-chat #buffer-list li.unread-message a {
    color: var(--irc-green);
  }
  #irc-chat #buffer-list li.unread-highlight a {
    color: #0062cc;
  }
  #irc-chat #buffer-header .status-gone {
    color: #fb885b;
  }
  #irc-chat #buffer-header .status-offline {
    color: var(--red);
  }
  #irc-chat form input[type=text],
  #irc-chat form input[type=username],
  #irc-chat form input[type=password],
  #irc-chat form input[type=url],
  #irc-chat form input[type=email] {
    color: #ffffff;
    background: var(--irc-sidebar-background);
    border: 1px solid #495057;
    padding: 0.25rem 0.375rem;
  }
  #irc-chat form input[type=text]:focus,
  #irc-chat form input[type=username]:focus,
  #irc-chat form input[type=password]:focus,
  #irc-chat form input[type=url]:focus,
  #irc-chat form input[type=email]:focus {
    outline: 0;
    border-color: #3897ff;
  }
  #irc-chat #buffer-list li a,
  #irc-chat a.nick {
    color: var(--irc-main-color);
  }
  #irc-chat #buffer {
    background: var(--irc-main-background);
  }
  #irc-chat #buffer .error {
    color: var(--red);
  }
  #irc-chat #buffer .me-tell {
    color: #e16b97;
  }
  #irc-chat #buffer .highlight .nick {
    color: #1e0010;
    background-color: #0062cc;
  }
  #irc-chat #buffer .date-separator {
    color: #757575;
  }
  #irc-chat #buffer .date-separator::before,
  #irc-chat #buffer .date-separator::after {
    border-color: #373737;
  }
  #irc-chat #buffer .unread-separator {
    color: var(--irc-green);
  }
  #irc-chat #buffer .unread-separator::before,
  #irc-chat #buffer .unread-separator::after {
    border-color: var(--irc-green);
  }
  #irc-chat #error-msg {
    color: black;
    background-color: #efa3aa;
  }
  #irc-chat #error-msg a {
    color: black;
  }
  #irc-chat .error-text {
    color: #efa3aa;
  }
  #irc-chat #buffer .nick-8 {
    color: #6bccc7;
  }
  #irc-chat #buffer .nick-10 {
    color: #6296c1;
  }
  #irc-chat #buffer .nick-11 {
    color: #c6b5df;
  }
  #irc-chat #buffer .nick-12 {
    color: #9995df;
  }
  #irc-chat #buffer .nick-13 {
    color: #8b62b3;
  }
  #irc-chat #buffer .nick-15 {
    color: #e3418b;
  }
  #irc-chat kbd {
    --outline-color: #6e7681;
    background-color: transparent;
    border: 1px solid var(--outline-color);
    box-shadow: inset 0 -1px 0 var(--outline-color);
  }
}
@media (max-width: 640px) {
  #irc-chat #buffer-list ul {
    width: 0px;
  }
  #irc-chat #buffer-list.expand,
  #irc-chat #member-list.expand {
    z-index: 999;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  #irc-chat #buffer-list.expand ul {
    width: auto;
  }
  #irc-chat #member-list.expand > section {
    width: 100%;
  }
  #irc-chat #member-list-header {
    border-left: none;
  }
  #irc-chat #buffer-header {
    grid-template-columns: 1fr min-content;
  }
  #irc-chat #buffer-header .title {
    display: block;
  }
}
@media (pointer: none), (pointer: coarse) {
  #irc-chat #buffer-list li a,
  #irc-chat #member-list li a {
    padding: 7px 10px;
  }
}
#irc-chat.hide {
  display: none;
}
#irc-chat.show {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}
#irc-chat #buffer-list .type-server,
#irc-chat #buffer-list .type-channel {
  display: none;
}
#irc-chat #buffer-header {
  font-size: 11px;
}
#irc-chat #member-list-header + ul > li {
  display: inline;
}
#irc-chat #buffer-header .actions button {
  padding: 10px;
}
#irc-chat #member-list-header::after {
  content: " online";
}
#irc-chat .logline-list {
  padding: 1.5rem 0;
  height: 200px;
}
#irc-chat .logline.motd {
  display: none;
}
#irc-chat .logline.talk {
  background: #f7f7f7;
  padding: 0.5rem;
}
#irc-chat #composer > input {
  border: 1px solid #CCC;
  margin: 0.5rem 0;
  color: var(--irc-main-color);
}
#irc-chat #composer > input,
#irc-chat #composer input:focus {
  border: 1px solid #CCC !important;
  outline: none;
  color: var(--irc-main-color) !important;
}
#irc-chat #member-list {
  background-color: #EFEFEF;
  font-size: 12px;
}
#irc-chat #member-list #member-list-header {
  background-color: #EFEFEF;
}
.chat-widget {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
}
.chat-widget .trigger-bubble {
  cursor: pointer;
  position: relative;
  padding: 2rem;
  border-radius: 50%;
  max-width: 60px;
  max-height: 60px;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -z-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
.chat-widget .trigger-bubble > img {
  display: inline;
  height: 30px !important;
  width: 30px !important;
  position: fixed;
  transform: translate(-15px, -15px);
}
.chat-widget .chat-popup {
  display: fixed;
  width: 500px;
  height: 80%;
  bottom: 2rem;
  right: 2rem;
}
.hover\:scale-105:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.hover\:bg-purple-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(75 74 207 / var(--tw-bg-opacity));
}
.hover\:bg-purple-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(93 93 255 / var(--tw-bg-opacity));
}
.hover\:bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.hover\:text-gray-100:hover {
  --tw-text-opacity: 1;
  color: rgb(235 241 245 / var(--tw-text-opacity));
}
.hover\:text-gray-200:hover {
  --tw-text-opacity: 1;
  color: rgb(217 227 234 / var(--tw-text-opacity));
}
.hover\:opacity-75:hover {
  opacity: 0.75;
}
.group:hover .group-hover\:text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(217 227 234 / var(--tw-text-opacity));
}
@media (min-width: 640px) {
  .sm\:flex {
    display: flex;
  }
  .sm\:h-20 {
    height: 5rem;
  }
  .sm\:w-20 {
    width: 5rem;
  }
  .sm\:max-w-none {
    max-width: none;
  }
  .sm\:max-w-md {
    max-width: 28rem;
  }
  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .sm\:flex-row {
    flex-direction: row;
  }
  .sm\:justify-center {
    justify-content: center;
  }
  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 768px) {
  .md\:absolute {
    position: absolute;
  }
  .md\:inset-y-0 {
    top: 0px;
    bottom: 0px;
  }
  .md\:right-0 {
    right: 0px;
  }
  .md\:order-1 {
    order: 1;
  }
  .md\:col-span-4 {
    grid-column: span 4 / span 4;
  }
  .md\:col-span-8 {
    grid-column: span 8 / span 8;
  }
  .md\:col-span-5 {
    grid-column: span 5 / span 5;
  }
  .md\:col-span-7 {
    grid-column: span 7 / span 7;
  }
  .md\:ml-4 {
    margin-left: 1rem;
  }
  .md\:mb-0 {
    margin-bottom: 0px;
  }
  .md\:mb-12 {
    margin-bottom: 3rem;
  }
  .md\:block {
    display: block;
  }
  .md\:flex {
    display: flex;
  }
  .md\:hidden {
    display: none;
  }
  .md\:w-1\/2 {
    width: 50%;
  }
  .md\:w-full {
    width: 100%;
  }
  .md\:max-w-none {
    max-width: none;
  }
  .md\:max-w-lg {
    max-width: 32rem;
  }
  .md\:flex-grow {
    flex-grow: 1;
  }
  .md\:grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .md\:items-center {
    align-items: center;
  }
  .md\:justify-between {
    justify-content: space-between;
  }
  .md\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .md\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .md\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .md\:pt-16 {
    padding-top: 4rem;
  }
  .md\:pb-1 {
    padding-bottom: 0.25rem;
  }
  .md\:pb-20 {
    padding-bottom: 5rem;
  }
  .md\:pt-40 {
    padding-top: 10rem;
  }
  .md\:pb-16 {
    padding-bottom: 4rem;
  }
  .md\:pt-5 {
    padding-top: 1.25rem;
  }
  .md\:pb-5 {
    padding-bottom: 1.25rem;
  }
  .md\:pr-16 {
    padding-right: 4rem;
  }
  .md\:pl-4 {
    padding-left: 1rem;
  }
  .md\:text-7xl {
    font-size: 4.5rem;
    line-height: 1;
  }
  .md\:text-2xl {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .lg\:col-span-5 {
    grid-column: span 5 / span 5;
  }
  .lg\:col-span-7 {
    grid-column: span 7 / span 7;
  }
  .lg\:col-span-6 {
    grid-column: span 6 / span 6;
  }
  .lg\:mr-16 {
    margin-right: 4rem;
  }
  .lg\:mb-0 {
    margin-bottom: 0px;
  }
  .lg\:block {
    display: block;
  }
  .lg\:w-1\/2 {
    width: 50%;
  }
  .lg\:max-w-none {
    max-width: none;
  }
  .lg\:max-w-xl {
    max-width: 36rem;
  }
  .lg\:flex-row {
    flex-direction: row;
  }
  .lg\:gap-20 {
    gap: 5rem;
  }
  .lg\:gap-16 {
    gap: 4rem;
  }
  .lg\:pl-12 {
    padding-left: 3rem;
  }
  .lg\:text-left {
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .xl\:pl-16 {
    padding-left: 4rem;
  }
}
/*# sourceMappingURL=index.css.map */
